ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 300px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}